In [1]:
import pandas as pd

## **Mobility Dataset Preprocessing**

In [2]:
df = pd.read_csv("dataset/mobility.csv", low_memory=False)
df = df[['date', 'country_region', 'retail_and_recreation_percent_change_from_baseline']]
df = df.loc[(df.country_region == "Indonesia")].reset_index()
df = df.drop_duplicates(subset=['date'])
df = df.loc[(df.date >= "2021-01-13")]
df = df.drop(columns={'country_region'})

In [3]:
len(df)

217

In [4]:
df.to_csv('dataset/mobility_clean.csv')

## **COVID-19 KawalData Dataset Preprocessing**

In [5]:
df = pd.read_excel('dataset/kawaldata.xlsx', parse_dates=True)
df = df.rename(columns={'Unnamed: 0': 'tanggal'})
df = df.drop(
    columns=[
        'PDP', 'ODP', 'Suspek aktif', 'Tingkat kesembuhan (seluruh kasus)',
        'Tingkat kesembuhan (closed cases)', 'Kasus Impor', 'Kasus Lokal',
        '% kasus aktif'
    ]
)

df = df.drop(list(df)[43:], axis=1)
df.head()

,tanggal,Kasus harian,Total kasus,Kasus aktif,Sembuh\n(baru),Sembuh,Meninggal\n(baru),Meninggal\nDunia,Tingkat kematian (seluruh kasus),Tingkat kematian (closed cases),...,Unnamed: 41,Dosis pertama,Dosis kedua,Dosis ketiga,Dosis pertama (%),Dosis kedua (%),Dosis pertama (harian),Dosis kedua (harian),Dosis harian,Dosis pertama (mingguan)
0,2020-03-02,2.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-03-03,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-03-04,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-03-05,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-03-06,2.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
len(df)

564

In [7]:
df.to_excel('dataset/kawaldata_clean.xlsx')