In [1]:
import pandas as pd

## **Mobility Dataset Preprocessing**

In [2]:
df = pd.read_csv("dataset/mobility.csv", low_memory=False)
df = df[['date', 'country_region', 'retail_and_recreation_percent_change_from_baseline']]
df = df.loc[(df.country_region == "Indonesia")].reset_index()
df = df.drop_duplicates(subset=['date'])
df = df.loc[(df.date >= "2021-01-27")]
df = df.drop(columns={'country_region'})

In [3]:
len(df)

217

In [4]:
df.to_csv('dataset/mobility_clean.csv')

## **COVID-19 KawalData Dataset Preprocessing**

In [27]:
df = pd.read_excel('dataset/kawaldata.xlsx', parse_dates=True)
df = df.rename(columns={'Unnamed: 0': 'tanggal'})
df = df.drop(
    columns=[
        'PDP', 'ODP', 'Suspek aktif', 'Tingkat kesembuhan (seluruh kasus)',
        'Tingkat kesembuhan (closed cases)', 'Kasus Impor', 'Kasus Lokal',
        '% kasus aktif'
    ]
)

df = df.drop(list(df)[43:], axis=1)
df.head()

,tanggal,Kasus harian,Total kasus,Kasus aktif,Sembuh\n(baru),Sembuh,Meninggal\n(baru),Meninggal\nDunia,Tingkat kematian (seluruh kasus),Tingkat kematian (closed cases),...,Unnamed: 41,Dosis pertama,Dosis kedua,Dosis ketiga,Dosis pertama (%),Dosis kedua (%),Dosis pertama (harian),Dosis kedua (harian),Dosis harian,Dosis pertama (mingguan)
0,2020-03-02,2.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-03-03,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-03-04,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-03-05,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-03-06,2.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
len(df)

567

In [29]:
df.to_excel('dataset/kawaldata_clean.xlsx')

## **Facebook Data Mobility**

In [35]:
df = pd.read_csv('dataset/movement.txt',delimiter="\t")
df = df.loc[(df.country == "IDN") & (df.ds >= "2021-01-27")]

E:\Anaconda\envs\darts-conda\lib\site-packages\IPython\core\interactiveshell.py:3170: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

AttributeError: 'DataFrame' object has no attribute 'date'

In [ ]:
df = df.groupby([df.ds]).agg('sum')
df = df.reset_index()
df = df.drop(columns={'all_day_ratio_single_tile_users'})
df.tail()

             ds  all_day_bing_tiles_visited_relative_change
228  2021-08-17                                   -69.36412
229  2021-08-18                                   -32.22304
230  2021-08-19                                   -35.43749
231  2021-08-20                                   -41.58287
232  2021-08-21                                   -45.64792

In [ ]:
df.to_csv('dataset/movement_clean.csv')
len(df)

233